{% extends "base.html" %}

{% block group16 %}Motion Detector{% endblock %}

{% block content %}
<body class="motion">
    <h2>Hello {{ user }}, monitor your sensor:</h2>
    <div  class="content">
        <h1>Infrared Sensor Monitoring</h1>

       
        <p>Current motion status:</p>
        <p>
            <span class="{{ status_class }}">{{ status_message }}</span>
        </p>

        {{a}}

        <table>
            <tr>
                <th>Timestamp</th>
                <th>Motion </th>
            </tr>
            {% for time, ir in zip_data %}
            <tr>
                <td>{{ time }}</td>
                <td>{{ ir }}</td>
            </tr>
            {% endfor %}

            

        </table>

        
    </div>
   
    <div>
    <img src="data:image/png;base64,{{ graph }}" alt="LDR Graph">
    </div>
    
</body>
{% endblock %}
