{% extends "base.html" %}

{%block group16 %}Temperature{%endblock%}

{%block content %} 
<body class="temperature">
    <div class="containerT">
        <h1>New users update  </h1>
        <h2>Hello {{ user }}, <br> </h2><br>
        <h3>Welcome to Home Automation And Security system.</h3><br><br><br>

        <p><b>ThanK You</b> for sighing up to the system . As a new user , you currently have no sensor alloceted to you.</p><br>
        <p> <b>Kindly  contact the Adminstraitor   : 10111 or 135 </b></p><br>
        <a href="/"><button type="button" class="btn btn-outline-danger">LogOut</button></a>

    </div>

</body>
</html>

{%endblock%}
